@charset "utf-8";
/* CSS Document */

img{
	display: block;
}
.f h2{
	text-align: center;
	margin-top:35px;
}
.v{
	margin-top: 18px;
	margin-left: 30px;
}
.t li{
	margin-top: 20px;
}
#ct{
	background: white; 
	width: 867px;
	height: 100px;
	float: left;
	color: #2b98dd;
}
#cl{
	background:white;
	width:300px;
	height: 520px;
	float: left;
}
#cr{
	background:white;
	width:567px;
	height: 520px;
	line-height: 20px;
	float: left;
	text-align: justify;
}
#cr li{
	margin-right: 30px;
	margin-left: 30px;
	font-size: 17px;
	letter-spacing: 1px;
}
#cr ul{
	color:#2b98dd;
}