@charset "utf-8";
/* CSS Document */

img{
	display: block;
}
.e{
	margin-top: 20px;
	margin-left: 20px;
}
.q{
	margin-top: 20px;
	margin-left: 40px;
}
.a{
	margin-top: 20px;
	margin-left: 40px;
}
.z{
	margin-top: 20px;
	margin-left: 40px;
}
.w{
	margin-top: 20px;
	margin-left: 40px;
}
.s{
	margin-top: 20px;
	margin-left: 40px;
}
.x{
	margin-top: 20px;
	margin-left: 40px;
}
#ctop{
	background:white;
	width:867px;
	height:70px;
	float: left;
}
#cl1{
	background:white;
	width:289px;
	height:550px;
	float: left;
}
#cl1 h3{
	margin-left: 105px;
	margin-top: 10px;
}
#cl1 p{
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	letter-spacing:1px;
	text-indent: 2em;
	line-height: 22px;
	font-weight: normal;
	text-align: justify;
}
#cm1{
	background:white;
	width:289px;
	height:550px;
	float: left;
}
#cm1 h3{
	margin-left: 105px;
	margin-top: 10px;
}
#cm1 p{
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	letter-spacing:1px;
	text-indent: 2em;
	line-height: 22px;
	font-weight: normal;
	text-align: justify;
}
#cr1{
	background: white;
	width: 289px;
	height:550px;
	float: left;
}
#cr1 h3{
	margin-left: 110px;
	margin-top: 10px;
}
#cr1 p{
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	letter-spacing:1px;
	text-indent: 2em;
	line-height: 21px;
	font-weight: normal;
	text-align: justify;
}
#cl2{
	background: white;
	width:289px;
	height:550px;
	float: left;
}
#cl2 h3{
	margin-left: 110px;
	margin-top: 10px;
}
#cl2 p{
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	letter-spacing:1px;
	text-indent: 2em;
	line-height: 21px;
	font-weight: normal;
	text-align: justify;
}
#cm2{
	background: white;
	width:289px;
	height:550px;
	float: left;
}
#cm2 h3{
	margin-left: 106px;
	margin-top: 10px;
}
#cm2 p{
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	letter-spacing:1px;
	text-indent: 2em;
	line-height: 21px;
	font-weight: normal;
	text-align: justify;
}
#cr2{
	background: white;
	width:289px;
	height:550px;
	float: left;
}
#cr2 h3{
	margin-left: 100px;
	margin-top: 10px;
}
#cr2 p{
	margin-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
	letter-spacing:1px;
	text-indent: 2em;
	line-height: 21px;
	font-weight: normal;
	text-align: justify;
}