@charset "utf-8";
/* CSS Document */

*{
	padding: 0px;
	margin: 0px;
}
body{
	background:url("../images/背景2.jpg");
}
#h{
	background:url("../images/top.jpg");
	width: 867px;
	height: 323px;
	margin: 0px auto;
}
#m{
	background:url("../images/菜单栏.jpg");
	width: 867px;
	height: 51px;
	margin: 0px auto;
}
#m ul{
	list-style-type: none;
	color: white;
}
#m ul li{
	float:left;
	width: 124px;
	text-align: center;
}
#m ul li a{
	font-size: 15px;
	line-height: 51px;
	color: white;
	display: inline-block;
	width: 124px;
	height: 51px;
	text-decoration: none;
}

#m ul li#mli{
	width: 123px;
}
#m ul li#mli a{
	width: 123px;
}
#m ul li a:hover{
	color:pink;
	font-size: 16px;
	text-decoration: underline;
}
#c{
	background: orange;
	width: 867px;
	margin: 0px auto;
}
#b{
	background:url("../images/bottom.jpg");
	width: 867px;
	height: 100px;
	margin: 0px auto;
	clear:left;
}
